@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/Background.jpeg) no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .Home-logo {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
}

.home-h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.color2 {
    color: #044395;
    margin-right: -4px;
}

.home .Home-logo img {
    flex: 1;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-right: -11px;
    margin-top: 2px;
}

p {
    font-weight: 100;
    font-size: 11px;
    margin-left: 5px;
}

h2 {
    font-size: 30px;
}

a {
    color: #295be4;
    text-decoration: none;
}

.larger {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.content {
    display: grid;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    gap: 0.5rem;
    grid-template-columns: 12rem 30rem;
    grid-template-areas: 'pattern container';
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -60px;
}

.pattern {
    grid-area: pattern;
}

.pattern-photo {
    width: 190px;
    height: 465px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    grid-area: container;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.change {
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(-45deg, #385281 0%, #2c7bd4 100%);
    border-radius: 0 6% 0 50%;
    border: 4px outset #2c7bd4;
    z-index: 5;
    right: -2px;
    top: 0;
    cursor: pointer;
}

.change:hover {
    background: linear-gradient(45deg, #2f65c9 10%, #00a2ff 90%);
    border: 4px outset #00a2ff;
}

.smallChange {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 16px;
    color: aliceblue;
    cursor: pointer;
}

img {
    width: 70px;
    height: 60px;
}

.tabs {
    display: flex;
    overflow: hidden;
    border: none;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
}

.tabs button {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tabs button.active {
    border-bottom: 2px solid #295be4;
    transition: 0.0001s;
}

.pretabs {
    display: none;
    padding: 30px 0px;     
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numbers {
    display: flex;
    width: 75%;
    margin-left: 50px;
}

.selectCode {
    flex: 0 1 20%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
}

.input-number {
    flex: 1 1 70%;
    padding: 15px;
    margin: 5px 0px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputs {
    width: 75%;
    padding: 15px;
    margin: 5px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.terms {
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
}

.showPass {
    width: 10%;
    margin: -2.90em 3% 30px 46.5%;
    position: relative;
    z-index: 5;
    color: #007BFF;
    left: 30%;
}

.forgot {
    width: 20%;
    margin: -27.4px 3% 27px 36.5%;
    position: relative;
    color: #007BFF;
    left: 30%;
    cursor: pointer;
}

.alert {
    margin-bottom: 25px;
}

.fa {
    font-size: 1rem;
}

button[type="submit"] {
    width: 75%;
    padding: 10px;
    /* margin-top: 25px; */
    margin-left: 50px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.conditions {
    font-weight: 700;
}
